/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}


.topnav {
    display: flex;
    background-color: #1b3d5f;
    justify-content: flex-end;
}

.hamburger {
    display: none;
    padding: 20px;
}

i{
  color:#fdfbe9;
}

.topnav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.topnav ul li {
    padding: 20px;
}

.topnav ul li:hover {
    background-color: #2f6a95;
}

.topnav ul li a {
    text-decoration: none;
    color: #fdfbe9;
}

.search img {
  width: 20%;
}


.explore a {
  text-decoration: none;
  color: #FDFBE9;
}

.explore {
  display: inline-block;
  background-color: #2F6A95;
  border: none;
  text-align: center;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  color: #FDFBE9;
  padding:10px;
}

.explore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.explore:hover span {
  padding-right: 25px;
}

.explore:hover span:after {
  opacity: 1;
  right: 0;
}

.hero {
  background-image: url(https://cdn.glitch.com/aba2f34e-33d0-4e5b-84b8-6b530f0806e6%2Fartist.jpg?v=1604671994014);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.intro {
  text-align: right;
}

.feature {
  display: flex;
  margin-bottom:100px;

}

.pic img {
  width: 100%;
}

.pic {
  margin: 20px;
}

.text {
  margin-top: 10px;
}

#content {
  text-align: center;
  padding:20px;
}

#content h1 {
  margin: 50px;
  
}


.video {
  background-image: url(https://cdn.glitch.com/aba2f34e-33d0-4e5b-84b8-6b530f0806e6%2FIMG_0059-2.jpg?v=1605339424464);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.blank {
  text-align: center;
  margin: 50px;
}

footer{
  background-color:#C7DDD2;
}

footer p{
  text-align:center;
  padding:10px;
  color:#1B3D5F;
}

/*artwork page*/


.work{
  display:flex;
}

.descript img{
  width:100%;
}

.descript{
  margin:20px;
}

/*woodprinting*/

.top{
  text-align:center;
  margin:55px;
}

.history{
  display:flex;
  padding:50px;
}

.history img{
  width:30%;
}

.more{
  margin:auto;
}

.type{
  display:flex;
}

.container{
  margin:20px;
}

.workshop{
  background-image: url(https://cdn.glitch.com/aba2f34e-33d0-4e5b-84b8-6b530f0806e6%2FIMG_0059-2.jpg?v=1605339424464);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.type h2{
  text-align:center;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2F6A95;
}

.container:hover .overlay {
  opacity: 0.8;
}

.character {
  color: #FDFBE9;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.medium{
  margin:20px;
  text-align:center;
}



 /*About artist page*/
  
  .face{
  background-image: url(https://cdn.glitch.com/aba2f34e-33d0-4e5b-84b8-6b530f0806e6%2FHokusaiportrait.jpg?v=1604737313808);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
  background-position: center;
  overflow: hidden;
  position: relative;
  }

.about{
  display: flex;
  background-color:#EFDCB6;
}

.date{
  margin: auto;
  padding:30px;
}

/*mobile reponsive*/
@media screen and (max-width:600px) {

    /*navabar index page(home)*/
    .topnav.responsive ul {
        display: block;
        width: 100%;
        position: absolute;
        /*bring the navbar infront becuz of position*/
        z-index: 300;
        top: 70px;
        background-color:#26456D;

    }

    .topnav ul {
        display: none;
    }

    .topnav {
        position: relative;

    }

    .hamburger {
        display: block;
    }

 
  
 